.content-report {
    display: grid;
    gap: 1em 2em;
}

.content-report h1 {
    grid-column: span 1;
    justify-self: center;
}

.sidenav {
    display: flex;
    flex-direction: column;
}

.sidenav a {
    color: #000;
    padding: 0.5em;
}

.kmom {
    border: 1px solid rgba($color: #000, $alpha: 0.3);
    grid-area: 1 / line3 / last-line / 2;
}

@media (max-width: 767px) {
    .sidenav {
        display: none;
    }
    
    .content-report {
        gap: 0;
    }
}
